body{
    background-color: rgb(0, 21, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 50px;



}

.main{
    height: auto;
    width: 95%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: 25px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;
 }

.boxes div{
    height: 300px;
    background-color: lightgray;
}


.box-1{
    height: 400px;
    width: 400px;
    background-color: rgb(58, 198, 198);
    
}

.box-2{
    height: 400px;
    width: 400px;
    background-color: rgb(168, 189, 189);
    
}

.box-3{
    height: 400px;
    width: 400px;
    background-color: rgb(0, 255, 102);
    
}


.box-4{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 89, 0);
    
}


.box-5{
    height: 400px;
    width: 400px;
    background-color: rgb(79, 183, 127);
    
}


.box-6{
   height: 400px;
    width: 400px;
    background-color: rgb(212, 0, 255);
    
}
 